.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
queries

/vendor/
/theme/
uploads/banners/*
!uploads/banners/index.html
uploads/lab-partner/*
!uploads/lab-partner/index.html
uploads/department/*
!uploads/department/index.html
uploads/gallery/*
!uploads/gallery/index.html
uploads/packages/*
!uploads/packages/index.html
uploads/prescription/*
!uploads/prescription/index.html
uploads/users/*
!uploads/users/index.html
!uploads/users/user.png
uploads/test-reports/*
!uploads/test-reports/compatible/
!uploads/test-reports/index.html
uploads/test-reports/compatible/*
!uploads/test-reports/compatible/index.html
uploads/employee/*
!uploads/employee/index.html
uploads/invoices/*
!uploads/invoices/index.html
uploads/notifications/*
!uploads/notifications/index.html